@import '../../../scss/_variables';

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}