.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 60px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;

  > div {
    width: 40%;
    height: 350px;

    > h2 {
      text-align: center;
      height: 40px;
    }

    > img {
      border-radius: 10px;
      height: calc(100% - 40px);
      width: 100%;
      object-fit: cover;
    }
  }
}