@import '../../../scss/variables';

.wrapper {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  color: $white;
  padding: 16px 46px;
  background-color: $purple;
  transition: background-color .3s ease;
  &:hover{
    background-color: lighten($purple, 10%);
  }
}

.main {
  background-color: rgba($black, .6);
  transition: background-color .3s ease;
  &:hover {
    background-color: $dark-purple;
  }
}